<!DOCTYPE html>
<html>
    <head>
        <title>Skrabl</title>
    </head>
    <body>  
        {{napaka}} <br>
        Preveri, da je besedo lahko najdemo na jezikovnem portalu Fran,
        je v ednini, moškega spola, nedoločnik ipd.
        Preveri, da se beseda stika z že postavljenimi besedami v vsaj eni točki oz.
        gre skozi sredino deske.

        <form action="/deska/">
            <input type="submit" value="POSKUSI ŠE ENKRAT!">
        </form>
    </body>
</html>