<!DOCTYPE html>
<html>
    <head>
        <title>Skrabl</title>
    </head>
    <body>
        <h1><pre>
             _____    __    ___ _____     _____    _____    __   
            / ___ \  |  |  /  /|  __  \  / ___ \  |  __ \  |  |   
           | |   |_| |  |_/  / | |__| | | |___| | | |__| | |  |
           \ \____   |  __  |  |  __  / |  ___  | |  __  / |  |
            \____  \ | |  \  \ | |  \ \ | |   | | | |  \ \ |  |
           __    |  || |   |  || |   | || |   | | | |   | ||  |
           \ \___|  /| |   |  || |   | || |   | | | |__/ / |  |____
            \______/ |_|   |__||_|   |_||_|   |_| |_____/  |_______|

        </pre></h1> 
        
        <form action="/dodaj_igralce/">
            <input type="submit" value="ZAČNI IGRO">
        </form>      
        

    </body>
</html>
